@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Alunos</h1>
</div>
<div class="text-left" style="
    margin-bottom: 10px;">
  <a href="alunos/novo" class="btn btn-success">Novo</a>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Matricula</th>
      <th scope="col">Notas</th>
      <th scope="col">Situação</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var aluno in Model)
    {
      <tr>
        <th scope="row">@aluno.Id</th>
        <td>@aluno.Nome</td>
        <td>@aluno.Matricula</td>
        <td>@aluno.StrNotas()</td>
        <td>@aluno.Situacao()</td>
        <td>
          @Html.ActionLink("Editar", "Editar", new { id = aluno.Id }, new { @class = "btn btn-primary" })
          @Html.ActionLink("Deletar", "Excluir", new { id = aluno.Id }, new { @class = "btn btn-danger", onclick =
        "return confirm('Tem certeza que deseja excluir?');" })
        </td>
      </tr>
    }
  </tbody>
</table>