@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Alunos</h1>
</div>
@* <h1>@Model</h1> *@
@* <h1>@ViewBag.Alunos</h1> *@
@* <h1>@ViewData["Teste"]</h1> *@

    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Matricula</th>
      <th scope="col">Notas</th>
      <th scope="col">Situação</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var aluno in Model){
      <tr>
      <th scope="row">@aluno.Id</th>
      <td>@aluno.Nome</td>
      <td>@aluno.Matricula</td>
      <td>@aluno.StrNotas()</td>
      <td>@aluno.Situacao()</td>
    </tr>
    }
    
    @* <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>teste2</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>teste</td>
    </tr> *@
  </tbody>
</table>
